body {
    background: #F3F5FC ;
}

.container {
    margin: auto;
    position: relative;
    width: auto;
    height: auto;
    background: #F3F5FC ;
}

.titulo {
    position: absolute;
    width: 70%;
}

.entrada_encriptador {
    position: absolute;
    top: 9.5%;
    width: 70%;
    height: 65%;
    border-radius: 24px;
}

.ocultar_vacio {
    position: absolute;
    right: 0;
    width: 25%;
    height: 90%;
    margin-top: 3%;
    margin-right: 3%;
    border-radius: 24px;
    justify-content:  center;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}
.ocultar_encriptado {
    display: none;
    position: absolute;
    right: 0;
    width: 25%;
    height: 90%;
    margin-top: 3%;
    margin-right: 3%;
    border-radius: 24px;
    justify-content:  center;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.botones {
    position: absolute;
    top: 76%;
    bottom: 0%;
    width: 61.5%;
    margin-left: 9.5%;
    height: auto;
    border-radius: 24px;
    display:flex ;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    margin-top: 3.9%;
    margin-left: 4%;
}

.input_text {
    margin-left: 16.5%;
    width: 80%;
    height: 80%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    /* VER PARA QUE SIRVE
    line-height: 200%; */
    color: #113a6c;
    background: #F3F5FC

}

textarea {
    border:0
}

textarea::placeholder {
    color: #113a6c;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 150%;
    color: #284a73;
}

#condicion_botones {
    position: absolute;
    top: 81%;
    bottom: 0%;
    margin-left: 12%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #495057;
    opacity: 0.8;
}
#botones_aspecto {
    width: 45%;
    height: 67px;
    justify-content: center;
    border-radius: 24px;
    cursor: pointer;


    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}
.boton_encriptar {
    background: #0A3871;
    border: 2px solid #ffffff;
    color: #FFFFFF;

}

.boton_desencriptar {
    background: #D8DFE8;
    border: 2px solid #0A3871;
    color: #0A3871;
}

.output_text {
    margin-top: 10%;
    width: 90%;
    height: 75%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;

}
.boton_copiar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 15%;
    text-align: center;
    justify-content: center;
    width: 90%;
    height: 67px;
    justify-content: center;
    background: #ffffff;
    border: 2px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 0px;
    text-align: center;
    color: #0A3871;
}
button:active {
    margin-top: 0px;
    border: 0;
}

button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;

}
.muñeco_salida {
    margin-top: 50.5%;
    margin-bottom: 3.4%;
    width: 100%;
}

.texto_vacio {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 29px;
    line-height: 100%;
    color: #343A40;
    margin-bottom: 3.4%;
}

.texto_ingresar {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #495057;
}

@media screen and (max-width: 768px) {
    .titulo,.ocultar_vacio,.ocultar_encriptado, .entrada_encriptador, .botones {
        margin-left: 0;
        width: 100%;
    }
    .entrada_encriptador {
        top:10%;
        height: 40%;
    }
    #condicion_botones {
        margin-top: -2%;
        margin-left: 4%;
        top:50%
    }
    .botones {
        top:50%;
        height: 10%;
    }
    .ocultar_vacio,.ocultar_encriptado {
        left: 0;
        margin-left: 10%;
        top: 60%;
        width: 80%;
        height: 20%;
    }
    
    .input_text {
        margin-left: 4%;

    }
    .texto_vacio {
        margin-top: 10%;
    }
    #botones_aspecto {
        width: 45%;
    }
    .muñeco_salida {
        display: none;
    }
    .output_text {
        margin-top: 3%;
    }
    .boton_copiar {
        position: relative;
        margin-top: 30%;
    }
}
@media screen and (max-width: 375px) {
    .titulo,.ocultar_vacio,.ocultar_encriptado, .entrada_encriptador, .botones {
        margin-left: 0;
        width: 100%;
    }
    .entrada_encriptador {
        top:10%;
        height: 40%;
    }
    #condicion_botones {
        margin-left: 6%;
        top:47%
    }
    .botones {
        top:50%;
        height: 20%;
    }
    .ocultar_vacio,.ocultar_encriptado {
        left: 0;
        margin-left: 10%;
        top: 70%;
        width: 80%;
        height: 25%;
    }
    .botones {
        flex-direction: column;
        justify-content: space-between;
    }
    
    .input_text, textarea::placeholder {
        margin-top: 7%;
        font-size: 20px;
        width: 90%;
    }
    .texto_vacio {
        font-size: 20px;
    }
    .texto_ingresar {
        margin-top: 6%;
        font-size: 16px;
        font-weight: bold;
    }
    #botones_aspecto {
        margin-top: 1%;
        margin-bottom: 1%;
        width: 90%;
    }
    .muñeco_salida {
        display: none;
    }
}
